.App2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
    margin-top: 80px;
   
    /* margin-bottom: auto; */
}


.form345 {
    width: 300px;
    /* background-color: rgba(255, 255, 255, 1); */
    background: url('./css/css/vivid-blurred-colorful-background.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    border-radius: 5px;
    font-family: inherit;
  }
  
  .input34 {
    font-size: 15px;
    padding: 15px 10px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .2), 0 .5px .5px rgba(0, 0, 0, .2);
    outline: none;
  }
  
  .input34:focus {
    outline: 1.2px solid #1877f2;
  }
  
  .loginBtn {
    margin-top: 10px;
    width: 100%;
    padding: 10px 20px;
    align-self: center;
    background: #1877f2;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1.3rem;
    font-weight: bold;
  }
  
  .loginBtn:hover {
    background: #196fe0;
  }

  .GetBtn {
    margin-top: 10px;
    width: 100%;
    padding: 10px 20px;
    align-self: center;
    background: #1877f2;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1.3rem;
    font-weight: bold;
  }
  
  .GetBtn:hover {
    background: #196fe0;
  }
  
 #hr23{
  display: block;
  width: fit-content;
  margin: auto;
  display: none;
 } 

